@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
span {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    /* font-family: "Amatic SC", sans-serif; */
    color: #37373f;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 10px;
}

.btn-pill {
    background-color: #ce1212;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    padding: 6px 20px;
}

h1 {
    font-family: "Amatic SC", sans-serif;
}




.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.main-menu {
    display: flex;
}

.main-menu li a {
    padding: 0 20px;
    color: #7f7f90;
}

.logo {
    font-weight: 700;
    font-size: 28px;
}

.logo span {
    color: #ce1212;
    font-size: 32px;
}


#hero {
    background-color: #f2f2f2;
    padding: 80px 0;
}

.hero-parent {
    display: flex;
    align-items: center;
    gap: 50px
}

.hero-img {
    width: 70%;
}

.hero-right {
    flex: 1;
    text-align: right;
}

.hero-left h1 {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 10px;
}

.hero-left p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #212529b3;
}

.video-btn-parent {
    display: flex;
    align-items: center;
}

.hero-btn {
    padding: 10px 25px;
    margin-right: 20px;
}

.video-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.video-btn i {
    color: #ce1212;
    font-size: 35px;
}

.video-btn:hover {
    color: #ce1212;
}


/** About Styles ***/

#about {
    /* border: 1px solid red; */
    padding: 80px 0;
}

#about .container {
    /* border: 1px solid red; */
}

.section-heading {
    text-align: center;
    margin-bottom: 40px;
}

.section-heading p {
    text-transform: uppercase;
    color: #939bac;
    font-size: 14px;
}

.section-heading h3 {
    font-family: "Amatic SC", sans-serif;
    font-size: 45px;
    font-weight: 300;
}

.section-heading h3 span {
    color: #ce1212;
}

.about-parent {
    display: flex;
    gap: 30px;
}

.about-left {
    flex: 2;
}

.about-right {
    flex: 1;
}

.about-left img,
.about-right img {
    width: 100%;
}

.about-contact {
    text-align: center;
    border: 4px solid rgba(0, 0, 0, 0.481);
    padding: 15px 0;
    margin-top: 15px;
}

.about-contact h4,
.about-contact h5 {
    font-size: 26px;
}

.about-contact h5 {
    color: #ce1212;
    margin-top: 10px;
}

.about-list {
    margin-bottom: 20px;
}

.right-p1 {
    color: gray;
    margin-bottom: 20px;
}

.about-list li {
    margin-bottom: 15px;
}

.about-list li i {
    color: #ce1212;
    font-size: 20px;
}

.right-img {
    margin-top: 25px;
}


/** why choose styles **/
#whychoose {
    padding: 80px 0;
    background-color: #f2f2f2;
}

.why-parent {
    display: flex;
    gap: 20px;
}

.red-card {
    padding: 30px;
    color: white;
    background-color: #ce1212;
    flex: 2;
}

.red-card h4 {
    font-size: 25px;
    margin-bottom: 20px;
}

.red-card p {
    margin-bottom: 20px;
    line-height: 24px;
}

.red-card a {
    display: block;
    background-color: #d53535;
    color: white;
    padding: 10px 30px;
    width: fit-content;
    margin: 10px auto;
    border-radius: 30px;
    transition: all .5s ease;
}

.red-card a:hover {
    background-color: white;
    color: #ce1212;
}

.why-card {
    padding: 40px 30px;
    background-color: white;
    text-align: center;
    flex: 1;
}

.why-ico {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-top: 0;
    background-color: #fcf3f3;
    font-size: 30px;
    transition: all .5s ease;
}

.why-ico i {
    color: #ce1212;
}

.why-card h4 {
    font-size: 18px;
    margin-bottom: 25px;
}

.why-card p {
    font-size: 14px;
    line-height: 18px;
}

.why-card:hover {
    cursor: pointer;
}

.why-card:hover .why-ico {
    background-color: #ce1212;
}

.why-card:hover .why-ico i {
    color: white;
}


/** Stats styles **/
#stats {
    background-image: url("../images/stats-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.stats-parent {
    display: flex;
    justify-content: space-around;
}

.stat-card {
    text-align: center;
    color: white;
}

.stat-card h4 {
    font-size: 42px;
}

.stat-card p {
    font-size: 15px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 130px 0;
}


/** menu styles start **/
#menu {
    padding: 80px 0;
}


.menu-cats {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-bottom: 30px;
}

.menu-cats li a {
    color: gray;
    padding-bottom: 8px;
    border-bottom: 2px solid #7f7f90;
}

.menu-cats li a:hover,
.menu-cats li a.active {
    border-bottom: 2px solid #ce1212;
}

.menu-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menu-card {
    width: 378px;
    padding: 20px;
    flex: 0 0 auto;
    text-align: center;
}

.menu-card img {
    width: 80%;
}
.menu-card h4 {
    font-size: 20px;
    margin: 15px 0;
    font-weight: normal;
}
.menu-card p {
    margin-bottom: 15px;
}
.menu-card h5 {
    font-size: 1.5rem;
    color: #ce1212;
}