@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red-color: #ce1212;
    --gray-color: #7f7f90;
}
html {
    scroll-behavior: smooth;
}
a,
span {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    /* font-family: "Amatic SC", sans-serif; */
    color: #37373f;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 10px;
}

.btn-pill {
    background-color: var(--red-color);
    color: white;
    border-radius: 30px;
    font-size: 14px;
    padding: 6px 20px;
}

h1 {
    font-family: "Amatic SC", sans-serif;
}

#header {
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
}


.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.main-menu {
    display: flex;
    gap: 20px;
}

.main-menu li a {
    /* padding: 0 20px; */
    color: #7f7f90;
    position: relative;
}
.main-menu li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--red-color);
    left: 0;
    bottom: -5px;
    transition: all .5s ease;
}
.main-menu li a:hover::after {
    width: 100%;
}

.logo {
    font-weight: 700;
    font-size: 28px;
}

.logo span {
    color: var(--red-color);
    font-size: 32px;
}


#hero {
    background-color: #f2f2f2;
    padding: 80px 0;
}

.hero-parent {
    display: flex;
    align-items: center;
    gap: 50px
}

.hero-img {
    width: 70%;
    animation-name: bouncing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.hero-right {
    flex: 1;
    text-align: right;
}

.hero-left h1 {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 10px;
}

.hero-left p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #212529b3;
}

.video-btn-parent {
    display: flex;
    align-items: center;
}

.hero-btn {
    padding: 10px 25px;
    margin-right: 20px;
}

.video-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.video-btn i {
    color: var(--red-color);
    font-size: 35px;
}

.video-btn:hover {
    color: var(--red-color);
}


/** About Styles ***/

#about {
    /* border: 1px solid red; */
    padding: 80px 0;
}

.section-heading {
    text-align: center;
    margin-bottom: 40px;
}

.section-heading p {
    text-transform: uppercase;
    color: #939bac;
    font-size: 14px;
}

.section-heading h3 {
    font-family: "Amatic SC", sans-serif;
    font-size: 45px;
    font-weight: 300;
}

.section-heading h3 span {
    color: var(--red-color);
}

.about-parent {
    display: flex;
    gap: 30px;
}

.about-left {
    flex: 2;
}

.about-right {
    flex: 1;
}

.about-left img,
.about-right img {
    width: 100%;
}

.about-contact {
    text-align: center;
    border: 4px solid rgba(0, 0, 0, 0.481);
    padding: 15px 0;
    margin-top: 15px;
}

.about-contact h4,
.about-contact h5 {
    font-size: 26px;
}

.about-contact h5 {
    color: #ce1212;
    margin-top: 10px;
}

.about-list {
    margin-bottom: 20px;
}

.right-p1 {
    color: gray;
    margin-bottom: 20px;
}

.about-list li {
    margin-bottom: 15px;
}

.about-list li i {
    color: var(--red-color);
    font-size: 20px;
}

.right-img {
    margin-top: 25px;
}


/** why choose styles **/
#whychoose {
    padding: 80px 0;
    background-color: #f2f2f2;
}

.why-parent {
    display: flex;
    gap: 20px;
}

.red-card {
    padding: 30px;
    color: white;
    background-color: var(--red-color);
    flex: 2;
}

.red-card h4 {
    font-size: 25px;
    margin-bottom: 20px;
}

.red-card p {
    margin-bottom: 20px;
    line-height: 24px;
}

.red-card a {
    display: block;
    background-color: #d53535;
    color: white;
    padding: 10px 30px;
    width: fit-content;
    margin: 10px auto;
    border-radius: 30px;
    transition: all .5s ease;
}

.red-card a:hover {
    background-color: white;
    color: var(--red-color);
}

.why-card {
    padding: 40px 30px;
    background-color: white;
    text-align: center;
    flex: 1;
}

.why-ico {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-top: 0;
    background-color: #fcf3f3;
    font-size: 30px;
    transition: all .5s ease;
}

.why-ico i {
    color: var(--red-color);
}

.why-card h4 {
    font-size: 18px;
    margin-bottom: 25px;
}

.why-card p {
    font-size: 14px;
    line-height: 18px;
}

.why-card:hover {
    cursor: pointer;
}

.why-card:hover .why-ico {
    background-color: var(--red-color);
}

.why-card:hover .why-ico i {
    color: white;
}


/** Stats styles **/
#stats {
    background-image: url("../images/stats-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.stats-parent {
    display: flex;
    justify-content: space-around;
}

.stat-card {
    text-align: center;
    color: white;
}

.stat-card h4 {
    font-size: 50px;
}

.stat-card p {
    font-size: 15px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 130px 0;
}


/** menu styles start **/
#menu {
    padding: 80px 0;
}


.menu-cats {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-bottom: 30px;
}

.menu-cats li a {
    color: gray;
    padding-bottom: 8px;
    border-bottom: 2px solid #7f7f90;
}

.menu-cats li a:hover,
.menu-cats li a.active {
    border-bottom: 2px solid var(--red-color);
}

.menu-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menu-card {
    width: 378px;
    padding: 20px;
    flex: 0 0 auto;
    text-align: center;
}

.menu-card img {
    width: 80%;
}

.menu-card h4 {
    font-size: 20px;
    margin: 15px 0;
    font-weight: normal;
}

.menu-card p {
    margin-bottom: 15px;
}

.menu-card h5 {
    font-size: 1.5rem;
    color: var(--red-color);
}

/** testimonials styles */

#testimonials {
    padding: 80px 0;
    background-color: #f2f2f2;
}

.tes-parent {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.tes-content {
    border-left: 4px solid var(--red-color);
    padding-left: 20px;
}

.tes-content p:first-child i {
    font-size: 26px;
    color: #ef3e3e;
}

.tes-content p:first-child i:first-child {
    margin-right: 10px;
}

.tes-content p:first-child i:last-child {
    margin-left: 10px;
}


.tes-content p:first-child {
    margin-bottom: 20px;
    line-height: 26px;
    font-style: italic;
    font-size: 18px;
    color: #7f7f90;
}

.tes-content h6 {
    font-size: 24px;
    font-family: "Amatic SC", sans-serif;
    margin-bottom: 6px;
}

.tes-content p.tes-desig {
    font-size: 14px;
    margin-bottom: 20px;
}

.tes-content .stars i {
    font-size: 20px;
    color: #ffc107;
}

.tes-img img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

/* Events styles */

#events {
    padding: 80px 0;
}

.events-parent {
    display: flex;
    gap: 1px;
}

.event-overlay {
    background-color: rgba(0, 0, 0, 0.69);
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.event:nth-child(1) {
    background-image: url("../images/events-1.jpg");
}

.event:nth-child(2) {
    background-image: url("../images/events-2.jpg");
}

.event:nth-child(3) {
    background-image: url("../images/events-3.jpg");
}

.event {
    color: white;
    height: 480px;
}

.event-title {
    font-size: 20px;
    font-family: "Amatic SC", sans-serif;
    margin-bottom: 15px;
}

.event-price {
    font-size: 30px;
    border-bottom: 3px solid var(--red-color);
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.sroll-top {
    width: 40px;
    height: 40px;
    background-color: var(--red-color);
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
}


/** chefs styles */

#chefs {
    padding: 80px 0;
}

.chefs-p {
    display: flex;
    gap: 20px;
}

.chefs-p .chef {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 10px 0 #00000029;
    transition: all .4s ease;
    position: relative;
}

.chefs-p .chef:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.chefs-p .chef img {
    width: 100%;
}

.chef-desc {
    padding: 25px 15px;
}

.chef-desc h4 {
    margin-bottom: 5px;
    font-size: 20px;
}

.chef-desc .chef-cat {
    margin-bottom: 15px;
}

.chef-details {
    font-size: 14px;
    font-style: italic;
    color: gray;
}

.socials {
    position: absolute;
    right: 0px;
    top: 15px;
    /* border: 1px solid red; */
    padding: 10px;
    background: #ffffff94;
    border-radius: 6px;
    transform: translateX(50px);
    transition: all .5s ease-out;
}
.chef:hover .socials {
    transform: translateX(-10px);
}

.socials>a {
    display: block;
    color: #0000005b;
    padding: 5px;
    font-size: 18px;
}
.socials>a:hover {
    color: black;
}
.chef-images {
    position: relative;
}
.chef .curv {
    position: absolute;
    bottom: 0;
    left: 0;
    filter: invert(1);
}
.chef-img {
    filter: grayscale(1);
    transition: all .6s ease;
}
.chef:hover .chef-img {
    filter: none;
}

@keyframes bouncing {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}